.bar1,
.bar2,
.bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6.4px 0;
      transition: 0.4s;
}

.change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
      opacity: 0;
}

.change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
}

.open {
      background-color: #000000;
      width: 24px;
      height: 4px;
      display: block;
      border-radius: 2px;
      cursor: pointer;
      position: relative;
      top: 8px;
}

.open:before {
      content: "";
      background-color: #000000;
      width: 24px;
      height: 4px;
      display: block;
      border-radius: 2px;
      position: relative;
      top: -8px;
      transform: rotate(0deg);
      transition: all 0.3s ease;
}

.open:after {
      content: "";
      background-color: #000000;
      width: 24px;
      height: 4px;
      display: block;
      border-radius: 2px;
      position: relative;
      top: 4px;
      transform: rotate(0deg);
      transition: all 0.3s ease;
}

.menuOpen {
      transform: scale(1.8);
      position: absolute;
      top: 40px;
      right: 115px;
      width: 24px;
      height: 20px;
      display: block;
      padding: 15px;
      cursor: pointer;
      float: right;

}

.menuOpen:hover .open:before {
      top: -9px;
}

.menuOpen:hover .open:after {
      top: 5px;
}

.menu {
      z-index: 99999;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(13, 13, 13, 0.532);
}

.menu label {
      width: 100vw;
      height: 100vh;
      position: absolute;
      right: 20px;
      top: 20px;
      background-size: 100%;
      cursor: pointer;
}

.menu .menuContent {
      position: relative;
      top: 50%;
      font-size: 54px;
      text-align: center;
      padding-bottom: 20px;
      margin-top: -170px;
}

.menu ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
}

.menu ul li a {
      display: block;
      color: white;
      text-decoration: none;
      transition: color 0.2s;
      font-family: Trebuchet MS;
      text-transform: uppercase;
      padding: 10px 0;
}

.menu ul li a:hover {
      color: #874356;
}

.menu ul li:hover {
      background:  lightpink;
}

.menuEffects {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
      transform: translateY(0%);
      transition: all 0.5s;
}

#menuToggle:checked~.menuEffects {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
      opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
      background-color: transparent;
}

#menuToggle:checked~.menuOpen .open:before {
      content: "";
      background-color: white;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
}

#menuToggle:checked~.menuOpen .open:after {
      content: "";
      background-color: white;
      transform: rotate(-45deg);
      position: relative;
      top: 0;
      right: 0;
      z-index: 1;
}

#menuToggle:not(:checked)~.menuEffects ul {
      transform: translateY(-30%);
}



/* 
nav {
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      top: 20px;
      right: calc(10% - 30px);
      display: flex;
      flex-direction: row;
      gap: 150px;
      font-size: 1.5rem;
      font-family: Campton-Bold,  sans-serif !important;
      border: 3px solid rgba(0, 0, 0, 0.497); 
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.20);
      border-radius: 10px;
      line-height: 0.5;
      transition: all .5s ease;
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}


.nav:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: all .5s ease;
}

.nav.swipe {

          transition: all .5s ease;

}

.nav.matches {
          transition: all .5s ease;

}

.nav.home {
          transition: all .5s ease;

}

.nav.logout {
          transition: all .5s ease;

} */